---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
	  {% assign sortedCategories = page.categories | sort %}
	  {%- if sortedCategories.size > 0 -%}
		  <span>Categories:</span>
		  <span class="tags">
			{% for category in sortedCategories %}
				<span class="tag">
					<a href="{{site.baseurl}}/category/{{ category }}">{{ category }}</a>
				</span>
			{% endfor %}
		  </span>
	  {%- endif -%}
	</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <div class="related">
    <h2>Related Posts</h2>
    {% assign firstCategory = page.categories | first %}
    {% assign relatedCount = 0 %}
    {% for related in site.categories[firstCategory] %}
        {% unless page.url == related.url %}
            {% assign relatedCount = relatedCount | plus: 1 %}
            {% assign post = related %}
            {% include post_preview.html %}
            <!--<a href="{{ related.url | relative_url }}">{{ related.title }}</a>-->
        {% endunless %}

        {% if relatedCount == 5 %}
            {% break %}
        {% endif %}
    {% endfor %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
